<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    <div fxFlex *ngIf="dish">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h3>{{dish.name | uppercase}}</h3>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{dish.image}} alt={{dish.name}}>
          <mat-card-content>
            <p>{{dish.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex *ngIf="dish">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h2>Comments</h2>
            </mat-card-title>
          </mat-card-header>  
            <div *ngFor="let cmnt of dish.comments">
                <mat-list> <mat-list> <mat-list>  {{cmnt['comment']}}<br>{{cmnt['rating']}} Stars<br>--{{cmnt['author']}} {{cmnt['date'] | date}}</mat-list></mat-list></mat-list>
            </div>
        </mat-card>
     
</div>
