<div class="container footer">
    <div>
        <mat-list class=" ic row col-md-12">
            <a mat-button>HOME</a>
            <a mat-button>ABOUT</a>
            <a mat-button>HELP</a>
            <a mat-button>CONTACT</a>
        </mat-list>
    </div>
    <br><br><br>
    <div class=" ic col-md-12">
        <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
        <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
        <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
        <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
        <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
        <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
    <div class="ic col-md-12">
        <p>© Copyright 2020 SportsPedia</p>
    </div>
</div>