<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
      <div fxFlex="100" fxFlexOffset="10px">
        <mat-list fxLayout="row">
          <mat-list-item><a mat-button>HOME</a></mat-list-item>
          <mat-list-item><a mat-button>ABOUT</a></mat-list-item>
          <mat-list-item><a mat-button>HELP</a></mat-list-item>
          <mat-list-item><a mat-button>CONTACT</a></mat-list-item>
        </mat-list>
      </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="50">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div  fxFlex.gt-sm="100">
    <div style="text-align:center">
      <p>© Copyright 2020 SportsPedia</p>
    </div>
  </div>
 
</div>