<mat-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>LOGIN</strong>
      </h5>
</mat-card-header>
  
    <!--Card content--.
      <!-- Form -->
      <form class="text-center" style="color: #757575;">
  
        <!-- Name -->
        <div class="mat-form mt-3">
          <input type="text" id="materialSubscriptionFormPasswords" class="form-control" mdbInput>
          <label for="materialSubscriptionFormPasswords">User Name</label>
        </div>
  
        <div class="mat-form">
            <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
              matInput>
            <label for="materialRegisterFormPassword">Password</label>
          </div>
  
        <!-- Sign in button -->
        <button mat-button color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect
          type="submit">Sign in</button>
  
      </form>
      <!-- Form -->
