<mat-toolbar>
    Login
  <div class="col-md-11">
  <button mat-button mat-dialog-close>&times;</button>
</div>
  </mat-toolbar>
  <br><br>
<form>
  <mat-dialog-content>
    <p>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label><input matInput type="email">
        </mat-form-field><br><br>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label><input matInput type="password">
        </mat-form-field><br><br>
      <mat-checkbox name="remember">Remember Me</mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">Login</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
  
  
