$lt-color:#009089;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale:/*#4870C1*/#2f7175;
$background-moredark: #4527A0;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.active {
    background: $background-pale;
}
.mat-toolbar{
  background-color:$lt-color ;
  color:#fff;
  min-height: 80px;
}
h1{
  font-weight: bolder;
  font-size: xx-large;
}

a{
  font-size: small;
  font-weight: bold;
}

