$lt-blue: #1b9bff;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale:#76C9F9;
$background-moredark: #4527A0;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.active {
    background: $lt-blue;
}
.mat-toolbar{
  background-color:$background-pale ;
  color:#fff;
  min-height: 80px;
}
h1{
  font-weight: bolder;
  font-size: xx-large;
}

a{
  font-size: small;
  font-weight: bold;
}

