<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around" fxLayoutGap="10px">
  <mat-card class="fullwidth">
    <mat-card-header>
      <mat-card-title>CRICKET</mat-card-title>
    </mat-card-header>
    <img mat-card-image src='/assets/images/Cricket/cricket.jpg'>
  </mat-card>
  <mat-card class="fullwidth">
    <mat-card-header>
      <mat-card-title>EVENTS</mat-card-title>
    </mat-card-header>
    <img mat-card-image src='/assets/images/event1.jpg'>
  </mat-card>
  <mat-card class="fullwidth">
    <mat-card-header>
      <mat-card-title>KABADDI</mat-card-title>
    </mat-card-header>
    <img height="249px" mat-card-image src='/assets/images/Kabaddi/kabaddi1.jpg'>
  </mat-card>
</div>

